:root {
    --gradient: linear-gradient(135deg, #6a5af9, #4f79e8);
    --glass-bg: rgba(255,255,255, 0.06);
    --glass-border: rgba(255,255,255,0.12);
    --primary: #6366f1;
    --secondary: #14b8a6;
    --text: #e2e8f0;
    --bg: #0f172a;
}

.gradient-text {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text); 
    font-family: "Poppins", sans-serif;   
}

.navbar {
    background: rgba(255,255,255, 0.05);
    border: 1px solid var(--glass-border);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;    
}

section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    animation: fadeUp 1s ease forwards;
    text-align: center;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.9s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-card {
    background: rgba(255,255,255, 0.05);
    border: 1px solid var(--glass-border);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;    
    margin: 30px auto;
    border-radius: 20px;
    line-height: 1.7;
    font-size: 1.1rem;
}

button {
    background: gray;    
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #e2e8f0;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px white;
}

.button1 {
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.button1:hover {
    background: var(--secondary);
    transform: translateY(-3px);
    box-shadow: 0 6px 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;    
}

.project-card {
    padding: 20px;
    background: rgba(255,255,255, 0.05);
    border-radius: 10px;
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px ;
}

.card-contact {
    background: rgba(255,255,255, 0.05);
    border-radius: 10px;
    padding: 40px;
    margin: 5px auto;    
}

#contact a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}

#contact a:hover {
    color: var(--secondary);
}


